In [43]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

music=pd.read_csv('music.csv')

X=music.drop(columns=['genre'])
Y=music['genre']
X_train,X_test,Y_train,Y_test= train_test_split(X,Y,train_size=0.8)
model=DecisionTreeClassifier()
model.fit(X_train,Y_train)
predictions=model.predict(X_test)
score =accuracy_score(Y_test,predictions)
print(score)

model=DecisionTreeClassifier()
model.fit(X,Y)
predictions=model.predict([[21,1],[22,0]])
predictions

1.0

C:\Users\ranga\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['HipHop', 'Dance'], dtype=object)

In [40]:
music

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical